---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// Add stuff here to overwrite css

// $link-color: red;

// Import default minimal 

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Your custom styles
.wide {
    .page {
      @include breakpoint($large) {
        float: none;    // disable from .page
        margin: 0 auto; // center
        padding-right: 0;
      }
  
      @include breakpoint($x-large) {
        float: none;    // disable from .page
        margin: 0 auto; // center
        padding-right: 0;
      }
    }
  }