---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// Override variables here

// e.g., $youtube-color: white !default;

// Import default minimal 

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Centre wide pages
.wide {
    .page {
      @include breakpoint($large) {
        float: none;    // disable from .page
        margin: 0 auto; // center
        padding-right: 0;
      }
  
      @include breakpoint($x-large) {
        float: none;    // disable from .page
        margin: 0 auto; // center
        padding-right: 0;
      }
    }
  }

  // Turn YouTube and star icons in footer white
  .page__footer-follow .social-icons a .fa-youtube {
    color: white;
  }

  .page__footer-follow .social-icons a .fa-star {
    color: white;
  }